<div class="container">
<div class="row">
<div class="resultsA col-md-5">  
    <h3 class="header">Funny News Stories</h3>
  <div id="buttons">
    <button class="btn" id="scrapefb">scrape</button>
    {{!-- <button class="btn" id="name-sort">Sort By Name</button> --}}
  </div>
      <div id="results">
            {{#each Clip}}
      <!-- Results from DB here -->

            <!-- Results from DB here -->
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{img}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title" data-id="{{_id}}">{{title}}</h5>
    <p class="card-text">{{info}}</p>
    <a href="{{link}}" class="btn btn-primary">Read More</a>
  </div>
</div>
            {{/each}}
    </div>
            {{!-- <form>
            <input id='titleinput' name='title' ></p>
            <textarea id='bodyinput' name='body'></textarea>
            <button data-id="{{_id}}"id='savenote'>Save Comment</button>"
            </form> --}}
            {{!-- fill in lines for showing data --}}
        {{!-- </tbody>
    </table> --}}
    {{!-- <div id="messages">{{#each Comment}}
         <form>
            <input id='titleinput' val='{{Comment.title}}'name='title' ></p>
            <textarea id='bodyinput' val='{{Comment.body}}'name='body'></textarea>
            <button data-id="{{_id}}"id='savenote'>Save Comment</button>"
            </form>
</div>
    {{/each}} --}}
</div> 
<!-- end of funny news div -->
<div class="resultsB col-md-5">  

    <h3 class="header">Stock Stories</h3>
  <div id="buttons">
    <button class="btn" id="scrapestock">scrape</button>
  </div>
      <div id="results">
            {{#each Stock}}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{img}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title" data-id="{{_id}}">{{source}}</h5>
    {{!-- <p class="card-text"></p> --}}
    <a href={{link}} class="btn btn-primary">Read More here!</a>
  </div>
</div>
            {{/each}}
    </div>
            {{!-- <form>
            <input id='titleinput' name='title' ></p>
            <textarea id='bodyinput' name='body'></textarea>
            <button data-id="{{_id}}"id='savenote'>Save Comment</button>"
            </form> --}}
            {{!-- fill in lines for showing data --}}
        {{!-- </tbody>
    </table> --}}
    {{!-- <div id="messages">{{#if Comment}}
         <form>
            <input id='titleinput' val={{title}} name='title' />
            <textarea id='bodyinput' val={{body}} name='body'></textarea>
            <button data-id={{_id}} id='savenote'>Save Comment</button>
            </form>
</div>
    {{/if}} --}}
</div> 
<!-- end of resultsB div -->

 <div class="col-md-2" id="messages"></div>
</div>
  </div>
  {{!-- end of container --}}