<div class="container">
<div class="row">
<div class="resultsA col-md-5">  
    <h3 class="header">Funny News</h3>
    {{!-- <h4>Serious News</h4>
<h5><a href="https://news.yahoo.com/">Yahoo News</a> </h5> --}}
  <div id="buttons">
    <button class="btn" id="scrapefb">scrape</button>
  </div>
      <div id="results">
            {{#each Clip}}
      <!-- Results from DB here -->

            <!-- Results from DB here -->
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{img}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title" data-id={{_id}}>{{title}}</h5>
    <p class="card-text">{{info}}</p>
    <a href="{{link}}" class="btn btn-primary center-block">Read More</a>
    <button class="btn center-block addmessage" data-class="news" data-id={{_id}}>Add Message</button>
        <button class="btn center-block" id="delete" data-id={{_id}}>Delete</button>

  </div>
</div>
            {{/each}}
    </div>
   
</div> 
<!-- end of funny news div -->
<div class="resultsA col-md-5 overflow-auto">  

    <h3 class="header">Stock Stories</h3>
        {{!-- <h4>other Stock News</h4>
<h5><a href="https://www.marketwatch.com/">Market Watch</a> </h5> --}}
  <div id="buttons">
    <button class="btn" id="scrapestock">scrape</button>
  </div>
      <div id="results">
            {{#each Stock}}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{img}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title" data-id="{{_id}}">{{title}}</h5>
    <p class="card-text">{{source}}</p>
    <a href={{link}} class="btn btn-primary">Read More here!</a>
        <button class="btn addmessage" data-class="stock" data-id={{_id}}>Add Message</button>
        <button class="btn" id="delete" data-id={{_id}}>Delete</button>
  </div>
</div>
            {{/each}}
    </div>
</div> 
<!-- end of resultsB div -->

 <div class="col-md-2" id="messages"></div>
</div>
  </div>
  {{!-- end of container --}}